<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AddLaptops</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<header class="p-3 text-bg-dark" th:insert="fragments/header :: defaultheader"></header>
<body>
<form action="/laptops/add" method="post">
  <input type="text" placeholder="Название" id="title" name="title">
  <div></div>
  <input type="text" placeholder="Операционная система" id="OC" name="OC">
  <div></div>
  <input type="text" placeholder="Графический процессор" id="GS" name="GS">
  <div></div>
  <input type="text" placeholder="Диск" id="Dick" name="Dick">
  <div></div>
  <input type="number" step="0.01" placeholder="Дисплей" id="Display" name="Display">
  <div></div>
  <input type="number" step="0.01" placeholder="Габариты" id="Gabarits" name="Gabarits">
  <div></div>
  <input type="number" step="0.01" placeholder="Масса" id="Mass" name="Mass">
  <div></div>
  <input type="submit" value="Добавить" class="btn btn-success">
</form>
<a href="/laptops/" class="btn btn-primary">Назад</a>
</body>
</html>